.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

}

.normal {
    background-color:  #d2d690;
    background-image: url(../img/normal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.normalModal{
    background-color:  #d2d690;
    background-image: url(../img/normal.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.normalType {
    background-color:  #bfc28e;
}

.grass {
    background-color:  #3fc271;
    background-image: url(../img/grass.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.grassModal{
    background-color:  #3fc271;
    background-image: url(../img/grass.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.grassType{
    background-color:  #339759;
}

.fire {
    background-color:  #e66633;
    background-image: url(../img/fire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.fireModal{
    background-color:  #e66633;
    background-image: url(../img/fire.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.fireType{
    background-color:  #b1451b;
}

.water {
    background-color:  #5495e9;
    background-image: url(../img/water.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.waterModal{
    background-color:  #5495e9;
    background-image: url(../img/water.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.waterType{
    background-color:  #4171af;
}

.electric {
    background-color:  #ffdb39;
    background-image: url(../img/electric.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.electricModal{
    background-color:  #ffdb39;
    background-image: url(../img/electric.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.electricType{
    background-color:  #c5a929;
}

.ice {
    background-color:  #b0eef0;
    background-image: url(../img/ice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.iceModal{
    background-color:  #b0eef0;
    background-image: url(../img/ice.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.iceType{
    background-color:  #a0d9db;
}

.ground {
    background-color:  #cea432;
    background-image: url(../img/ground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.groundModal{
    background-color:  #cea432;
    background-image: url(../img/ground.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.groundType{
    background-color:  #8f7222;
}

.flying {
    background-color:  #8f72e0;
    background-image: url(../img/flying.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.flyingModal{
    background-color:  #8f72e0;
    background-image: url(../img/flying.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.flyingType{
    background-color:  #735cb3;
}

.poison {
    background-color:  #A040A0;
    background-image: url(../img/poison.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.poisonModal{
    background-color:  #A040A0;
    background-image: url(../img/poison.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.poisonType{
    background-color:  #6e2c6e;
}

.fighting {
    background-color:  #991d17;
    background-image: url(../img/fighting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.fightingModal{
    background-color:  #991d17;
    background-image: url(../img/fighting.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.fightingType{
    background-color:  #661410;
}

.psychic {
    background-color:  #F65687;
    background-image: url(../img/psychic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.psychicModal{
    background-color:  #F65687;
    background-image: url(../img/psychic.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.psychicType{
    background-color:  #b83e63;
}

.dark {
    background-color:  #4e4137;
    background-image: url(../img/dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.darkModal{
    background-color:  #4e4137;
    background-image: url(../img/dark.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.darkType{
    background-color:  #1f1916;
}

.rock {
    background-color:  #705f15;
    background-image: url(../img/rock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.rockModal{
    background-color:  #705f15;
    background-image: url(../img/rock.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.rockType{
    background-color:  #4e4310;
}

.bug {
    background-color:  #56832d;
    background-image: url(../img/bug.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.bugModal{
    background-color:  #56832d;
    background-image: url(../img/bug.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.bugType{
    background-color:  #36521c;
}

.ghost {
    background-color:  #6E5896;
    background-image: url(../img/ghost.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.ghostModal{
    background-color:  #6E5896;
    background-image: url(../img/ghost.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.ghostType{
    background-color:  #5a4a77;
}

.steel {
    background-color:  #d7d5ec;
    background-image: url(../img/steel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.steelModal{
    background-color:  #d7d5ec;
    background-image: url(../img/steel.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.steelType{
    background-color:  #a6a5b6;
}

.dragon {
    background-color:  #4f27b6;
    background-image: url(../img/dragon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.dragonModal{
    background-color:  #4f27b6;
    background-image: url(../img/dragon.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.dragonType{
    background-color:  #391c81;
}

.fairy {
    background-color:  #f5b6cb;
    background-image: url(../img/fairy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.fairyModal{
    background-color:  #f5b6cb;
    background-image: url(../img/fairy.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
}
.fairyType{
    background-color:  #c291a1;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number{
    color: white;
    opacity: 1.1;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: white;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    text-transform: capitalize;
}

.pokemon .detail .types .type{
    color: white;
    padding: 0.25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;

}

.pokemon .detail img{
    max-width: 150%;
    height: 120px;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    padding: .25rem .5rem ;
    margin: .25rem 0;
    font-size: .625rem;
    color: white;
    background-color: #2b3bb4;
    border: none;
    border-radius: 1rem;

}


@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;

    }
    
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;

    }
    
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    
}
